.app-container {
  text-align: center;
  margin-top: 20px;
}

.participant-list {
  display: flex; /*1 hi row me show krwane k liye*/
  flex-wrap: wrap; /*1 colum me display krwane k liye*/
  justify-content: center;
  /*margin-right: 400px;*/
  gap: 20px; /*gap dene k liye*/
  max-width: 800px;
  max-height: 400px;
  overflow-y: auto; /*sidebar lgane k liye*/
  border: 6px solid #0a0a0a; /*border ki line lga k moti krne k liye*/
  border-radius: 10px; /*border k kinare gol krne k liye*/
  padding: 20px; /*oper, neeche, ri8, left kinaro pe space dene k liye*/
}

.participant-card {
  width: 150px;
  height: 200px;
  display: flex; /*1 hi row me pic, name, fav icon */
  flex-direction: column; /*column me display krwane k liye pic, name, fav icon*/
  align-items: center; /*name, pic, fav icon ko centre me krde*/
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 9);
}

.participant-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.participant-placeholder {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ddd;
  font-size: 40px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.participant-name {
  font-size: 16px;
  font-weight: bold;
}
